.hero-section{
  background: linear-gradient(to right, #f55b00, #f68c4b);
  overflow: hidden;
}

.hero-img{
  max-width: 550px;
}

.navbar{
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(to right,#046169,#217b7e,#10898d);
}
.nav-item .nav-link {
  color: #fff;
  
}
